.modalBody {
  display: flex;
  flex-direction: column;
  gap: 0.5em
}

.formLabel {
  white-space: nowrap;
}

.expandToggle {
  display: flex;
  margin-top: 0.5em;
  gap: 0.25em;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.additionalInfo {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}